/*
Michael Dougherty
Lucky Sevens V1
 */

h1 {
	text-align: center;
}

p {
	text-align: center;
	font-family: Comic Sans MS;
}

#startScreen {
	text-align: center;
}

#replayScreen {
	text-align: center;
}

#tableContainer {
	background-color: #f2f2f2;
	margin: 0px 400px 0px 400px;
}

table {
	width: 80%;
	margin: auto;
	background-color: #f2f2f2;
}

th {
	background-color: lightgray;
	text-align: left;
	font-family: Comic Sans MS;
}

td {
	width: 50px;
	text-align: left;
	font-family: Comic Sans MS;
}

table, th, td {
	border: 1px solid white;
	border-collapse: collapse;
	padding: 10px;
}

caption {
	text-decoration: underline;
	font-size: 1.4em;
	font-weight: bold;
	padding: 12px;
}

.button {
	background-color: lightgray;
    border: solid;
    padding: 12px 64px;
    font-size: 16px;
	margin: 25px;
}