@import url('https://fonts.googleapis.com/css?family=Lobster');

/* Restaurant Homepage Styles */

h1.header {
	font-family: Lobster;
	text-align: center;
}

h4 {
	text-align: center;
	font-family: Comic Sans MS;
}

td.header {
	padding: 15px;
	font-family: Comic Sans MS;
}

p.footer {
	font-family: Comic Sans MS;
}

a:link {
    color: green;
}

a:visited {
    color: red;
}

a:hover {
    font-weight: bold;
}

a:active {
    text-decoration: none;
}

#homePage_Main {
	background-color: #00FFFF;
}

#homepage_Image {
	text-align: center;
}

#restaurant_Description {
	font-size: 115%;
}

#newLocationNotice {
	text-align: center;
}



/*****************************************************************/
/* Menu Styles */

p {
	text-align: center;
	font-family: Comic Sans MS;
}

tbody td {
	font-family: Comic Sans MS;
}

#menu {
	background-color: #00FFFF;
}

h3.menuItemTitle {
	font-family: Comic Sans MS;
	text-align: center;
}

/*****************************************************************/
/* Contact Us Styles */
td.output {
	text-align: right;
	font-family: Comic Sans MS;
	font-size: 130%;
	font-weight: bold;
}

select {
	width: 100%;
}

textarea {
	width: 100%;
	height: 150px;
}