@import url('https://fonts.googleapis.com/css?family=Lobster');

h1.header {
	font-family: Lobster;
	text-align: center;
}

td.header {
	padding: 15px;
	font-family: Comic Sans MS;
}

p.footer {
	font-family: Comic Sans MS;
}
