tr {
	text-align: center;
}

td {
	font-style: italic;
}

caption {
	font-size: 1.3em;
}

tbody tr {
	background-color: #4CAF50;
}

a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: lightblue;
}

a:active {
	text-decoration: none;
}
